#menu li {
  display: inline-block;
  margin-right: 20px;
  color:white;
  padding:5px;
}

#menu {
  margin-left:10px;
  padding-left:0px;
  background-color:black;
}

.intro {
  font-size:32px;
}


#menu li a {
  color:white;
  text-decoration: none;
}